<launch>

 <!-- RealSense -->
 <include file="$(find realsense2_camera)/launch/rs_camera.launch" />

 <!-- ORBSLAM2 -->
 <node pkg="ORB_SLAM2" type="Mono" name="orbslam2"
       args="$(find orbslam2_ros_realsense)/config/vocabulary/ORBvoc.dat $(find orbslam2_ros_realsense)/config/parameter/TUM1.yaml" />

</launch>
